# Gemini API Key (Use CUSTOM_GEMINI_API_KEY if GEMINI_API_KEY is reserved)
CUSTOM_GEMINI_API_KEY=
GEMINI_API_KEY=

# Mapillary Access Token
MAPILLARY_ACCESS_TOKEN=

# Set to true to require SITE_PASSWORD before accessing the app
ENABLE_SITE_PASSWORD=false
SITE_PASSWORD=